.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.vscode/

# Ignoring big files with results:
results/rodriguez/**
!results/rodriguez/.gitkeep
results/random_ilr/**
!results/random_ilr/.gitkeep
results/benchmark/**
!results/benchmark/.gitkeep
results/results_aggregated/**
!results/results_aggregated/.gitkeep
results/agp_results/**
!results/agp_results/.gitkeep
results/lupus_results/**
!results/lupus_results/.gitkeep
results/test_results/**

# Ignoring ad-hoc files.rd
temp/

\# Ignoring input data
data/data_raw/*.txt
data/data_preproc/*.csv
data/data_agp/data_preproc/
data/data_agp/data_raw/
data/data_lupus/data_preproc/
data/data_lupus/data_raw/

# Ignoring files with error/ output logs
logs/*.err
logs/*.out

.Renviron

# Quarto generated artifacts
/.quarto/
**/*.quarto_ipynb


# Quarto caches and rendered artifacts
content/_figures/*
!content/_figures/
content/_tables/*
!content/_tables/
content/_freeze/
