.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.vscode/

# Ignoring big files with results:
results/rodriguez/*
!results/rodriguez/
results/random_ilr/*
!results/random_ilr/
results/benchmark/*
!results/benchmark/
results/results_aggregated/*
!results/results_aggregated/

# Ignoring ad-hoc files.rd
temp/

\# Ignoring input data
data/data_raw/*.txt
data/data_preproc/*.csv

# Ignoring files with error/ output logs
logs/*.err
logs/*.out

.Renviron

# Quarto generated artifacts
/.quarto/
**/*.quarto_ipynb


# Quarto caches and rendered artifacts
content/_figures/*
!content/_figures/
content/_tables/*
!content/_tables/
content/_freeze/
